:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: #2e2f42;
  --hero-background: #2e2f42;
  --background-color: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--background-color);
  color: var(--text);
}

.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--dark);
  text-decoration: none;
}
.nav-item {
  list-style-type: none;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--pressed-state);
}
.nav-link:active {
  color: var(--pressed-state);
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--primary-brand);
}

.logo-second {
  color: var(--dark);
}
.address {
  font-style: normal;
}
.address-item {
  list-style-type: none;
}
.address-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
  text-decoration: none;
}

.address-link:hover,
.address-link:focus,
.address-link:active {
  color: var(--pressed-state);
}

/* Основний контент */
/* секція 1 */
.hero {
  background-color: var(--dark);
}
.hero-header {
  font-size: 56px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--background-color);
}
.hero-button {
  width: 169px;
  height: 56px;
  background: var(--primary-brand);
  color: var(--background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-style: normal;
  letter-spacing: 0.04em;
  text-decoration: none;
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
  background: var(--pressed-state);
}

/* секція 2 */

.description-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.description-list {
  list-style-type: none;
}

.description-text {
  letter-spacing: 0.02em;
}
/* секція 3 */
.section-title {
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
}
.title-info-item {
  list-style-type: none;
}
/* секція 4 */

.title-workers-item {
  list-style-type: none;
}
.list-workers {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.profession {
  text-align: center;
  letter-spacing: 0.02em;
}
/* футер */
.logo-second-footer {
  color: var(--light);
}
.promotion {
  letter-spacing: 0.02em;
  color: var(--accent);
}
.footer {
  background-color: var(--dark);
}
/* Портфоліо */
/* секція 1 */
.portfolio-item {
  list-style-type: none;
}
.portfolio-button-active {
  width: 69px;
  height: 48px;
  background: var(--pressed-state);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
  color: var(--background-color);
  font-style: normal;
  letter-spacing: 0.04em;
  text-decoration: none;
  cursor: pointer;
}
.portfolio-button-active:hover,
.portfolio-button-active:focus {
  background: var(--primary-brand);
}
.Portfolio-button {
  width: 116px;
  height: 48px;
  background: var(--light);
  border: 1px solid var(--accent);
  border-radius: 4px;
  color: var(--primary-brand);
  border-radius: 4px;
  letter-spacing: 0.04em;
  text-decoration: none;
  cursor: pointer;
}
.Portfolio-button:hover,
.Portfolio-button:focus {
  background: var(--pressed-state);
  color: var(--background-color);
}

.portfolio-list {
  list-style-type: none;
}
.portfolio-text {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.portfolio-filters {
  letter-spacing: 0.02em;
}
